ul.collection
  li.collection-item.avatar
    img.circle(src='images/yuna.jpg', alt='')
    span.title Title
    p
      | First Line 
      br
      |          Second Line
    a.secondary-content(href='#!')
      i.material-icons grade