footer.page-footer
  x-box
    //- .row
    //-   .col.l6.s12
    //-     h5.white-text приложение создано в амино Sacuraso397
    //-     //- p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
    //-     p.grey-text.text-lighten-4 Демо-Приложение использования API Amino.JS
    //-   .col.l4.offset-l2.s12
    //-     h5.white-text Links
    //-     ul
    //-       li
    //-         a.grey-text.text-lighten-3(href='https://github.com/AminoJS') API Amino.JS
    //-       li
    //-         a.grey-text.text-lighten-3(href='https://aminoapps.com/c/Sakuraso397/home/') Амино Сакурасо
    //-       li
    //-         a.grey-text.text-lighten-3(href='https://aminoapps.com/c/Sakuraso397/home/') Наш сайт
    //-       li
    //-         a.grey-text.text-lighten-3(href='#!') Link 4
    //- .footer-copyright
    //-   .container
    //-     | © 2019 amino Sacuraso397 / feya River
    //-     a.grey-text.text-lighten-4.right(href='#!') More Links
    x-card.center  
      x-icon(name='copyright')
      x-label
        | © 2019 amino Sacuraso397 / feya River